* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h3, p, ul {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 110px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

#shadow-host-companion {
  display: none;
}

:root {
  --main: #000;
  --second: #6E9C9F;
  --white: #fff;
  --grey: #9C9C9C;
  --back: #F1EADC;  
  --price: #998E78;   
}